<div class="dropdown" [ngClass]="{'dropdown--open-dropdown' : showMenu}">
  <button class="dropdown__button" token="p16" (click)="toggleDropdown()">
    Temporada 1
    <i class="fa-solid fa-chevron-down dropdown__icon"></i>
  </button>

  <div class="dropdown__list-container">
    <ol class="dropdown__list">
      <li class="dropdown__item" token="p16">Temporada 1</li>
      <li class="dropdown__item" token="p16">Temporada 2</li>
      <li class="dropdown__item" token="p16">Temporada 3</li>
      <li class="dropdown__item" token="p16">Temporada 4</li>
      <li class="dropdown__item" token="p16">Temporada 5</li>
      <li class="dropdown__item" token="p16">Temporada 6</li>
      <li class="dropdown__item" token="p16">Temporada 7</li>
    </ol>
  </div>
</div>
