::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #08b1c9;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #317419;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #066c80;
}

/* Para Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #317419 transparent;
}
